/* Comment.css */

.comments-container {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  width: 1800px;
  max-width: 1800px;
  flex-direction: column;

}

.comment p {
  margin-bottom: 10px;
}

.comment textarea {
  margin-top: 10px;
}
.comment-button{
  width: 33%;
}

.reply {
  position: relative;
}

.reply::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px; /* 살짝 부모 댓글 옆으로 삐져나오도록 설정 */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 12px;
  border-color: transparent transparent transparent #007bff; /* 화살표 색상 */
  transform: translateY(-50%);
}