/* Post.css */

.post-container {
    width: 1200px;
    margin: 30px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-content {
    padding: 20px;
}

.post-header {
    margin-bottom: 2px;
}

.post-actions {
    display: flex;
    width: 100%;
    padding: 0 20px 20px;
    justify-content: center;
}

.like-dislike {
    text-align: center;
    margin: 0 20px 0 20px;
}

.like-dislike img {
    cursor: pointer;
}

.like-dislike img:first-child {
    margin-right: 50px;
}

.post-stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.post-stat {
    margin: 0 30px 0 30px;
}
