.footer {
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.footer hr {
  border: 1px solid #ccc;
  margin: 10px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

.footer-section {
  margin-bottom: 20px;
  flex: 1;
}

.footer h3 {
  color: #333;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 5px;
}

.footer p {
  margin: 0;
}
