.top-nav {
	background-color: #e6e6e6;
	margin-bottom: 20px;
  }
  
  .top-nav a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
  }
  
  .top-nav .navbar-nav {
	max-height: 400px;
	margin: 10px auto;
  }
  
  .top-nav .navbar-toggler {
	background-color: #fff;
  }
  